<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button
      routerLink="/"
      class="btn btn-link"
    >
      Back home
    </button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>01.10.2021</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, voluptates.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, voluptates.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, voluptates.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, voluptates.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, voluptates.</p>
  </div>
</div>
